/* 1 */
#first {
    padding-top: 52px;
    overflow: hidden;
}
#first > h1 {
    font-family: 'Cornerita-Bold';
    font-weight: 700;
    font-size: 60px;
    line-height: 95%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 39px;
}
#first > h1 > span {
    color: #32d996;    
}
#first > p {
    font-family: 'Cornerita-Regular';
    font-weight: 400;
    font-size: 21px;
    line-height: 155%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #e0e0e0;
    margin: 0;
    margin-bottom: 39px;
}
#first > button {
    border: none;
    border-radius: 10px;
    padding: 14px 32px;
    width: 400px;
    height: 91px;
    width: 400px;
    box-shadow: 0 17px 26px 0 rgba(22, 171, 255, 0.7), 0 17px 100px 0 rgba(22, 171, 255, 0.75), 0 17px 149px 0 rgba(22, 171, 255, 0.37);
    background: #16abff;
    font-family: 'Cornerita-Regular';
    font-weight: 400;
    font-size: 21px;
    line-height: 155%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-bottom: 134px;
    position: relative;
    z-index: 3;
}
#first > .items {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    animation: appear 1s ease-out;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#first > .items > .item {
    border: 1px solid #1a3f51;
    border-radius: 10px;
    padding: 24px 35px;
    width: 404px;
    height: 200px;
    background: #0e232d;
    display: flex;
    position: relative;
}
#first > .items > .item > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#first > .items > .item > .text {
    text-align: left;
    margin-left: 25px;
    width: 225px;
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
}
#first > .items > .item > .text > h4 {
    font-family: 'Cornerita-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.05em;
    color: #e0e0e0;
    margin-bottom: 0;
}
#first > .items > .item > .text > p {
    font-family: 'Cornerita-Thin';
    font-weight: 100;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.05em;
    color: #e0e0e0;
    margin: 0;
}
/* 2 */
#second {
    padding-top: 45px;
    margin-top: 30px;
    padding-bottom: 88px;
}
#second > .what_is {
    width: 850px;
    gap: 73px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 59px;
}
#second > .what_is > .text {
    text-align: center;
    margin-top: 15px;
}
#second > .what_is > .text > h2 {
    font-family: 'Cornerita-Bold';
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
#second > .what_is > .text > p {
    font-family: 'Cornerita-Thin';
    font-weight: 100;
    font-size: 21px;
    line-height: 155%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #e0e0e0;
    margin: 0;
}
#second > .items {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 73px;
    width: 960px;
    height: 516px;
}
#second > .items > .item {
    border: 1px solid #1a3f51;
    border-radius: 10px;
    padding: 24px 35px;
    width: 473px;
    height: 251px;
    background: #0e232d;
    display: flex;
    position: absolute;
}
#second > .items > .item > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#second > .items > .item > .text {
    text-align: left;
    margin-left: 25px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
}
#second > .items > .item > .text > h4 {
    font-family: 'Cornerita-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.05em;
    color: #e0e0e0;
    margin-bottom: 0;
}
#second > .items > .item > .text > p {
    font-family: 'Cornerita-Thin';
    font-weight: 100;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.05em;
    color: #e0e0e0;
    margin: 0;
}
#second > .items > :nth-child(1) {
    left: 0;
    top: 0;
}
#second > .items > :nth-child(2) {
    left: auto;
    top: 0;
    right: 0;
}
#second > .items > :nth-child(3) {
    left: 0;
    top: auto;
    bottom: 0;
}
#second > .items > :nth-child(4) {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
}
#second > .items > :nth-child(1) > img {
    margin-left: 2px;
}
#second > .items > :nth-child(2) > img {
    margin-left: 9px;
}
#second > .items > :nth-child(3) > img {
    margin-left: 9px;
}
#second > .items > :nth-child(4) > img {
    margin-left: 4px;
}
#second > button {
    border: none;
    border-radius: 10px;
    padding: 14px 32px;
    width: 400px;
    height: 91px;
    width: 400px;
    box-shadow: 0 17px 26px 0 rgba(22, 171, 255, 0.7), 0 17px 100px 0 rgba(22, 171, 255, 0.75), 0 17px 149px 0 rgba(22, 171, 255, 0.37);
    background: #16abff;
    font-family: 'Cornerita-Regular';
    font-weight: 400;
    font-size: 21px;
    line-height: 155%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    margin-top: 37px;
}
#second > p {
    font-family: 'Cornerita-Thin';
    font-weight: 100;
    font-size: 21px;
    line-height: 155%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #e0e0e0;
    margin: 0;
    margin-top: 37px;
}
/* 3 */
#third {
    padding-top: 81px;
    padding-bottom: 127px;
}
#third > h2 {
    font-family: 'Cornerita-Bold';
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
#third > .items {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    margin-top: 53px;
}
#third > .items > .item {
    border: 1px solid #16754f;
    border-radius: 10px;
    padding: 15px 10px 15px 205px;
    width: 404px;
    height: 200px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#third > .items > .item > .text {
    text-align: left;
    margin-left: 25px;
    width: 170px;
    position: absolute;
    top: 50%;
    left: auto;
    right: 19px;
    transform: translateY(-50%);
}
#third > .items > .item > .text > h4 {
    font-family: 'Cornerita-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.05em;
    color: #e0e0e0;
    margin-bottom: 0;
}
#third > .items > .item-1 {
    background: url(../public/img/third_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#third > .items > .item-2 {
    background: url(../public/img/third_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#third > .items > .item-3 {
    background: url(../public/img/third_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    #first > .items > .item > .text {
        margin-left: 5px;
    }
    #second > .items > .item > .text {
        margin-left: 20px;
    }
    #third > .items > .item > .text {
        right: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #first > .items > .item > .text {
        margin-left: 20px;
    }
    #first > .items {
        position: relative;
        width: 944px;
        height: 414px;
    }
    #first > .items > :nth-child(1), #first > .items > :nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 465px;
    }
    #first > .items > :nth-child(1) > .text {
        left: 163px;
    }
    #first > .items > :nth-child(2) > .text {
        left: 163px;
    }
    #first > .items > :nth-child(1) > img {
        margin-left: 15px;
    }
    #first > .items > :nth-child(2) > img {
        margin-left: 15px;
    }
    #first > .items > :nth-child(2) {
        right: 0;
        left: auto;
    }
    #first > .items > :nth-child(3) {
        width: 944px;
        height: 200px;
        position: relative;
        top: 214px;
        left: 50%;
        transform: translateX(-50%);
    }
    #first > .items > :nth-child(3) > img {
        margin-left: 266px;
    }
    #first > .items > :nth-child(3) > .text {
        left: 400px;
    }
    #second > .items > .item > .text {
        margin-left: 20px;
    }
    #third > .items > .item > .text {
        right: 45px;
    }
    #third > .items {
        width: 964px;
        position: relative;
        height: 414px;
    }
    #third > .items > .item-1, #third > .items > .item-2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 475px;
    }
    #third > .items > .item-2 {
        left: auto;
        right: 0;
    }
    #third > .items > .item-3 {
        width: 500px;
        height: 200px;
        position: relative;
        top: 214px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 991px) {
    #first > button {
        width: 333px;
        height: 91px;
    }
    #first > .items > .item > .text {
        margin-left: 20px;
        width: 205px;
    }
    #first > .items {
        width: 100%;
        height: 628px;
        display: block;
    }
    #first > .items > :nth-child(1), #first > .items > :nth-child(2), #first > .items > :nth-child(3) {
        position: relative;
        width: 100%;
        display: block;
        margin-bottom: 14px;
    }
    #first > .items > :nth-child(1) > .text {
        left: 110px;
    }
    #first > .items > :nth-child(2) > .text {
        left: 110px;
    }
    #first > .items > :nth-child(3) > .text {
        left: 110px;
    }    
    #first > .items > :nth-child(1) > img {
        position: relative;
        margin-left: -230px;
    }
    #first > .items > :nth-child(2) > img {
        position: relative;
        margin-left: -230px;
    }
    #first > .items > :nth-child(3) > img {
        position: relative;
        margin-left: -230px;
    }
    #second > .items > .item > .text {
        margin-left: 20px;
    }
    #second > .what_is {
        display: block;
        width: 100%;
    }
    #second > .what_is > img {
        width: 100%;
        display: block;
    }
    #second > .what_is > .text {
        width: 100%;
        display: block; 
        padding-top: 47px;
    }
    #second > .what_is > .text > h2 {
        width: 350px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 30px;
    }
    #second > .what_is > .text > p {
        width: 320px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #second > .items {
        display: block;
        width: 100%;
        height: 1046px;
    }
    #second > .items > .item {
        width: 100%;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%) !important;
        margin-bottom: 14px;
    }
    #second > .items > .item > img {
        position: relative;
        margin-left: -230px;
        width: 72px;
        height: 72px;
    }
    #second > .items > .item > .text {
        margin-left: -30px;
        width: 205px;
    }
    #second > button {
        width: 300px;
        height: 95px;
    }
    #third > .items > .item > .text {
        right: 0px;
    }
    #third > .items {
        width: 100%;
        position: relative;
        height: 628px;
        display: block;
    }
    #third > .items > .item-1, #third > .items > .item-2, #third > .items > .item-3 {
        width: 100%;
        height: 200px;
        margin-bottom: 14px;
    }
}
@media (min-width: 567px) and (max-width: 991px) {
    #first > button {
        width: 400px;
        height: 91px;
    }
    #first > .items > .item > .text {
        left: 190px;
    }
    #second > .items > .item > .text {
        left: 220px;
    }
    #second > .items > .item > img {
        position: relative;
        margin-left: -300px;
    }
    #third > .items > .item > .text {
        right: 45px;
    }
}
@media (max-width: 567px) {
    #first > .items > .item > .text {
        left: auto;
        right: 20px;
    }
    #second > .items > .item > .text {
        left: auto;
        right: 15px;
    }
    #second > .what_is > .text > h2 {
        width: 100%;
    }
}